.newsCardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.newsHeading {
  width: 100%;
  white-space: pre-wrap;
  word-break: keep-all;
}

.newsCard {
  padding: 10px;
}

.linkElement {
  color: rgb(56, 56, 56);
  text-decoration: none;
}

.linkElement:hover {
  color: rgb(56, 56, 56);
  text-decoration: underline;
  cursor: pointer;
}

.linkElement:visited {
  color: rgb(4, 4, 135);
}

.dateAndCategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
